.card{
    background-color: #87CEFA;
    font-family: Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.card-body img{
    height: 50px;
    width: 50px;
}

#readings tr{
    font-size: 20px;;
}